body{
    background-image: url("Boxing3.jpg");
    background-size: 1500px 1020px;
    text-align: center;

}
#dual_x_div{
    margin-left: 19%;

}
#piechart{
    margin-left: 19%;

}

a{
    color: white;
}
